.formula-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .alert {
    text-align: center;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 2rem;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-weight: bold;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .formula {
    padding: 1rem;
    color: yellow;
    font-size: 2rem;
    border-bottom: 1px solid rgba(255, 255, 0, 0.1);
    width: 100%;
  }

  .btn-submit {
    color: yellow;
    border: 2px solid yellow;
    background-color: transparent;
    padding: 0.8rem;
    transition: all 0.1s ease;
    &:hover {
      background-color: rgb(255, 255, 0);
      color: rgb(70, 67, 67);
      font-weight: bold;
    }
  }

  form {
    @include flex-column;
    align-items: center;
    text-align: center;

    input {
      &::placeholder {
        color: rgba(255, 255, 0, 0.5);
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      margin: 1rem;
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid white;
      //width: 20%;
      color: yellow;
      text-align: center;
    }
    label {
      font-weight: bold;
      padding-top: 2rem;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
